<!DOCTYPE html>
<html lang="en" ng-app="pointList">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
    <link href="css/styleshit.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
</head>
<body ng-controller="PointsCtrl">


    <!--<div class="file-list">
        <input type="file" id="files" name="files[]" multiple />
        <output id="list"></output>
    </div>-->

    <div class="point-list">
        <ul class="points">
            <li class="point-row header">
                <div class="point-data"><span class="vertical-align">Point #</span><input class="filter" ng-model="pointInp" /></div>
                <div class="point-data"><span class="vertical-align">Trackseg #</span><input class="filter" ng-model="trackSegInp" /></div>
                <div class="point-data"><span class="vertical-align">Track #</span><input class="filter" ng-model="trackInp" /></div>
                <div class="point-data"><span class="vertical-align">Point Name</span><input class="filter" ng-model="nameInp" /></div>
                <div class="point-data"><span class="vertical-align">Latitude</span><input class="filter" ng-model="latInp" /></div>
                <div class="point-data"><span class="vertical-align">Longitude</span><input class="filter" ng-model="lonInp" /></div>
                <div class="point-data"><span class="vertical-align">Elevation mean sea level</span><input class="filter" ng-model="eleInp" /></div>
                <div class="point-data"><span class="vertical-align">UTC Time</span><input class="filter" ng-model="timeInp" /></div>
            </li>
            <li ng-repeat="point in points | filter: {pointNum:pointInp} | filter: {trackSegNum:trackSegInp} | filter: {trackNum:trackInp} | filter: {name:nameInp} | filter: {lat:latInp} | filter: {lon:lonInp} | filter: {ele:eleInp} | filter: {time:timeInp}"
                    ng-init="isSelected=false" ng-click="isSelected=!isSelected; getPosition($event)" ng-class="isSelected ? 'point-row_selected' : 'point-row'" ng-mousedown="getPosition($event)">
                <div class="point-data"><span class="vertical-align">{{point.pointNum}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.trackSegNum}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.trackNum}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.name}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.lat}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.lon}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.ele + "m"}}</span></div>
                <div class="point-data"><span class="vertical-align">{{point.time}}</span></div>
            </li>
        </ul>
    </div>

    <script src="js/model.js"></script>
    <script src="js/inputController.js"></script>
    <script src="js/outputController.js"></script>
    <script src="js/view.js"></script>
</body>
</html>